@import url("reset.css");

.select {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
}

.option {
  margin-top: 10px;
  margin-bottom: 10px;
}

.container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 800px;
  margin: 50px auto;
  .title {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
  }
  .content {
    margin-top: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    .Countries {
      font-size: 3.5rem;
      margin-bottom: 1rem;
    }
    .Confirmed {
      margin-bottom: 1rem;
      color: #36d4c1;
    }
    .Confirmed,
    .Deaths {
      font-size: 2em;
    }
    .Deaths {
      color: #ff7f7f;
    }
    .bars {
      display: flex;
      text-align: center;
      .value {
        margin-top: 20px;
        border-radius: 5px;
        font-size: 2rem;
        line-height: 125%;
        .text {
          border-bottom: 1px solid #fff;
        }
      }
      .left {
        margin-right: 1.5rem;
        .bar {
          background-color: #7f7fff;
          width: 120px;
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        .bar2 {
          background-color: #ff7f7f;
          width: 120px;
          display: flex;
          margin-top: auto;
        }
      }
    }
  }
}
